{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mazinger Z</h1>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi quas sint nam debitis dolore fuga eius fugiat error, rem ipsum accusantium excepturi? Obcaecati aliquid quia eveniet labore, asperiores dignissimos voluptate. </p>
    </div>
    <div class="col-4">
        <img src="assets/img/mazingerz.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}